
h1 {
    @apply text-gray-800 text-7xl font-bold my-4;
    font-family: 'Libre Franklin', serif;
}

h2 {
    @apply text-gray-800 text-6xl font-bold my-4;
    font-family: 'Libre Franklin', serif;
}

p {
    @apply text-xl;
}

code {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    @apply bg-gray-200 rounded;
}
